<%- include('partials/headerWithMenu') -%>
<section class="grid grid-col-1 grid-row-6 place-items-center space-y-8">
  <div class="font-5xl font-bold text-primary-content">Workout For:
    <% const clientls = clientList; %>
    <% const clientlsResult = clientls.find(({id}) => id == apptPost.client); %>
    <% if(clientlsResult == undefined){ %>
    <span></span>
    <%} else{ %>
    <%= clientlsResult.name.toUpperCase() %>
    <%}%>  
  </div>
  <div class="font-4xl font-bold text-primary-content">
    <% const apptDate = DateTime.fromISO(apptPost.date) %>
    <h2><%= apptDate.toLocaleString(DateTime.DATE_FULL) %> <%= apptDate.toLocaleString(DateTime.TIME_SIMPLE) %></h2>
  </div>
  <div class="mx-4">
    <form action="/clientWorkout/createPost" method="POST">
      <div class="btn-group">
        <select class="btn btn-xs md:btn-sm btn-primary hover:btn-secondary text-primary-content" name="exercise">
          <option class="disabled selected w-auto">Exercise</option>
          <% let eOptions = []; %>
          <% for(i=0; i<elist.length; i++) {%>
            <option value="<%= elist[i].title.toUpperCase() %>"><%= elist[i].title.toUpperCase() %></option>
          <%}%>
        </select>
        <select class="btn btn-xs md:btn-sm btn-primary hover:btn-secondary text-primary-content" name="repititions">
          <option class="disabled selected">Reps</option>
          <% let rOptions = []; %>
          <% for(i=1; i<100; i++) {%>
            <option value='<%= i %>'><%= i %></option>
          <%}%>
        </select>
        <select class="btn btn-xs md:btn-sm btn-primary hover:btn-secondary text-primary-content" name="sets">
          <option class="disabled selected">Sets</option>
          <% let sOptions = []; %>
          <% for(i=1; i<100; i++) {%>
            <option value='<%= i %>'><%= i %></option>
          <%}%>
        </select>
        <select class="btn btn-xs md:btn-sm btn-primary hover:btn-secondary text-primary-content" name="weight">
          <option class="disabled selected">Weight</option>
          <option>BODYWEIGHT</option>
          <% let wOptions = []; %>
          <% for(i=5; i<250; i++) {%>
            <% if(i % 5 == 0) {%>
              <option value='<%= i %>'><%= i %> lbs</option>
            <%}%>
          <%}%>
        </select>
        <input type="hidden" id="apptID" name="appointment" value="<%= apptPost.id %>"></input>
        <button class="btn btn-xs md:btn-sm btn-primary hover:btn-secondary text-primary-content" type="submit" value="Upload">ADD</button>
      </div>
    </form>
  </div>

    <div class="card flex-shrink-0 w-fit max-w-auto bg-primary">
      <div class="card-body">
        <div class="overflow-x-auto w-full">
          <table class="table table table-xs sm:table-sm md:table-md lg:table-md">
            <thead>
              <tr>
                <th class="text-primary-content">Exercise</th>
                <th class="text-primary-content">Reps</th>
                <th class="text-primary-content">Sets</th>
                <th class="text-primary-content">Weight</th>
                <th class="text-primary-content">Instructions/Equipment</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% for(i=0; i<cworkout.length; i++) {%>
              <% if(apptPost._id == cworkout[i].appointment){ %>
              <tr>
                <td class="text-primary-content">
                  <div><%= cworkout[i].exercise %></div>
                </td>
                <td class="text-primary-content"><%= cworkout[i].repititions %></td>
                <td class="text-primary-content"><%= cworkout[i].sets %></td>
                <td class="text-primary-content">
                  <% if(cworkout[i].weight == 'BODYWEIGHT'){ %>
                  <%= cworkout[i].weight %>
                  <%} else{ %>
                  <%= `${cworkout[i].weight} lbs.` %>
                  <%}%>
                </td>
                <td class="text-primary-content">
                  <% const currentEx = cworkout[i].exercise.toUpperCase() %>
                  <% const exercisels = elist; %>
                  <% const exerciselsResult = exercisels.find(({title}) => title.toUpperCase() == currentEx) %>
                  <%= exerciselsResult.caption.toUpperCase() %>
                </td>
                <th>
                  <div>
                    <form action="/clientWorkout/deletePost/<%= cworkout[i]._id %>?_method=DELETE" method="POST">
                      <button class="btn btn-ghost fa fa-trash" type="submit"></button>
                    </form>
                  </div>
                </th>
              </tr>
              <%}%>
              <%}%>
            </tbody>
            <tfoot>
              <tr>
                <th class="text-primary-content">Exercise</th>
                <th class="text-primary-content">Reps</th>
                <th class="text-primary-content">Sets</th>
                <th class="text-primary-content">Weight</th>
                <th class="text-primary-content">Instructions/Equipment</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

  <div class="w-96">
    <form action="/appointment/notePost/<%= apptPost._id %>?_method=PUT" method="POST">
      <div class="card mx-4 bg-primary">
        <div class="card-body">
          <div class="break-words">
            <h3><%= apptPost.note%></h3>
          </div>
          <div class="form-control">
            <label for="note" class="label">
              <span class="label-text">Add Note Below</span>
            </label>
            <textarea rows="2" cols="15" class="resize-none input input-bordered" id="note" name="note"></textarea>
          </div>
          <input type="hidden" id="editClient" name="editClient" value="<%= apptPost.client %>"></input>
          <input type="hidden" id="editDate" name="editDate" value="<%= apptPost.date %>"></input>
          <button type="submit" class="btn w-24 mt-2 place-self-end btn-secondary hover:btn-accent text-primary-content" value="Upload">Save Note</button>
        </div>
      </div>
    </form>
  </div>
  <div class="place-self-center mx-5">
    <%if(apptPost.user == user.id){ %>
      <form action="/post/deletePost/<%= apptPost._id %>?_method=DELETE" method="POST">
        <button class="btn btn-xs md:btn-md btn-primary hover:btn-secondary text-primary-content" type="submit"> Delete Appointment</button>
      </form>
    <%}%>
  </div>
</section>
<%- include('partials/footer') -%>