<%- include('partials/headerWithMenu') -%>
<main class="mb-auto">
  <div class="container grid grid-cols-3 gap-4 mx-auto">
    <table class="col-span-3 table table-xs sm:table-sm md:table-md lg:table-md">
      <thead>
         <tr>
          <th>Date</th>
          <th>Client</th>
          <th>Edit Date</th>
          <th>Delete</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% const appointments = [] %>
        <% for(i=0; i<posts.length; i++) {%>
          <% appointments.push(posts[i]) %>
        <% } %>
        <% let appointmentsSorted = appointments.sort((a,b) => DateTime.fromISO(b.date).toMillis() - DateTime.fromISO(a.date).toMillis()) %>
        <% for(i=0; i < appointmentsSorted.length; i++) {%>
          <tr>
             <td>
              <div>
                <% const date = DateTime.fromISO(appointmentsSorted[i].date) %>
                <h2><%= date.toLocaleString(DateTime.DATETIME_MED) %></h2>
              </div>
             </td>
            <td>
              <% const clientls = clientList; %>
              <% const clientlsResult = clientls.find(({id}) => id == appointmentsSorted[i].client); %>
              <% if(clientlsResult == undefined){ %>
              <span></span>
              <%}else{ %>
                <%= clientlsResult.name.toUpperCase() %>
              <%}%>
            </td>
            <th>
              <div>
                <form action="/appointment/editPost/<%= appointmentsSorted[i].id %>?_method=PUT" method="POST">
                   <div class="form-control">
                     <div class="input-group">
                      <input type="datetime-local" class="input input-bordered input-xs sm:input-sm md:input-md lg:input-md" id="editDate" name="editDate"/>
                      <input type="hidden" id="editClient"  name="editClient" value="<%= posts[i].client %>"></input>
                      <button type="submit" class="btn btn-xs sm:btn-xs md:btn-sm lg:btn-md" value="Upload">Save</button>
                     </div> 
                   </div> 
                 </form>
               </div>
            </th>
             <th>
              <div class="avatar">
                 <form action="/appointment/deletePost/<%= appointmentsSorted[i]._id %>?_method=DELETE" method="POST">
                  <button class="btn fa fa-trash" type="submit"></button>
                 </form>
               </div>
             </th>
             <th>
              <button class="btn btn-xs sm:btn-xs md:btn-sm lg:btn-md">
                 <div>
                  <a href="/appointment/<%= appointmentsSorted[i]._id%>" >Workout</a>
                 </div>
               </button>
             </th>
           </tr>
         <%}%>
      </tbody>
      <tfoot>
         <tr>
          <th>Date</th>
          <th>Client</th>
          <th>Edit Date</th>
          <th>Delete</th>
          <th></th>
         </tr>
      </tfoot> 
    </table>
    <div></div>
    <div class="col-span-1 place-self-center">
      <button class="btn btn-long" onclick="appointmentModal.showModal()">Add Appointment</button>
    </div>
    <div></div>
  </div>
  
  <dialog id="appointmentModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box flex-auto">
      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Add Appointment</h3> 
      <form action="/appointment/createPost" enctype="multipart/form-data" method="POST">
        <label class="label">
          <span class="label-text">Date and Time</span>
        </label>
        <input type="datetime-local" placeholder="MM/DD/YYY" class="input input-bordered w-full" id="date" name="date"/>
        <label class="label">
          <span class="label-text">Select Client</span>
        </label>
        <select class="select select-bordered w-full" name="client">
          <option class="disabled selected w-auto">Client</option>
          <% let options = []; %>
          <% for(i=0; i<clientList.length; i++) {%>
            <option value="<%= clientList[i].id %>"><%= clientList[i].name.toUpperCase() %></option>
          <% } %>
        </select>
        <div class="w-full flex justify-end">
          <button type="submit" class="btn mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Save</button>
        </div>
      </form>     
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</main>
<%- include('partials/footer') -%>