<%- include('partials/headerWithMenu') -%>
<main class="flex flex-col gap-4">
  <div class="flex justify-center text-3xl font-semibold text-primary-content h-12">Workout For:
    <% const clientls = clientList; %>
    <% const clientlsResult = clientls.find(({id}) => id == apptPost.client); %>
    <% if(clientlsResult == undefined){ %>
    <span></span>
    <%} else{ %>
    <%= clientlsResult.name.toUpperCase() %>
    <%}%>  
  </div>
  <div class="flex justify-center text-2xl font-semibold text-primary-content">
    <% const apptDate = DateTime.fromISO(apptPost.date) %>
    <h2><%= apptDate.toLocaleString(DateTime.DATE_FULL) %> <%= apptDate.toLocaleString(DateTime.TIME_SIMPLE) %></h2>
  </div>
  <div class="flex justify-center">
    <form class="" action="/clientWorkout/createPost" method="POST">
      <div class="flex flex-col md:flex-row gap-2">
        <select class="btn btn-sm btn-primary hover:btn-secondary text-primary-content" name="exercise">
          <option class="disabled selected w-auto">Exercise</option>
          <% let eOptions = []; %>
          <% for(i=0; i<elist.length; i++) {%>
            <option value="<%= elist[i].title.toUpperCase() %>"><%= elist[i].title.toUpperCase() %></option>
          <%}%>
        </select>
        <select class="btn btn-sm btn-primary hover:btn-secondary text-primary-content" name="repititions">
          <option class="disabled selected">Reps</option>
          <% let rOptions = []; %>
          <% for(i=1; i<100; i++) {%>
            <option value='<%= i %>'><%= i %></option>
          <%}%>
        </select>
        <select class="btn btn-sm btn-primary hover:btn-secondary text-primary-content" name="sets">
          <option class="disabled selected">Sets</option>
          <% let sOptions = []; %>
          <% for(i=1; i<100; i++) {%>
            <option value='<%= i %>'><%= i %></option>
          <%}%>
        </select>
        <select class="btn btn-sm btn-primary hover:btn-secondary text-primary-content" name="weight">
          <option class="disabled selected">Weight</option>
          <option>BODYWEIGHT</option>
          <% let wOptions = []; %>
          <% for(i=5; i<250; i++) {%>
            <% if(i % 5 == 0) {%>
              <option value='<%= i %>'><%= i %> lbs</option>
            <%}%>
          <%}%>
        </select>
        <input type="hidden" id="apptID" name="appointment" value="<%= apptPost.id %>"></input>
        <button class="btn btn-md md:btn-sm btn-primary hover:btn-secondary text-primary-content" type="submit" value="Upload">ADD</button>
      </div>
    </form>
  </div>

  <div class="card bg-primary mx-4">
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table table-xs md:table-md">
          <thead>
            <tr>
              <th class="text-primary-content">Exercise</th>
              <th class="text-primary-content">Reps</th>
              <th class="text-primary-content">Sets</th>
              <th class="text-primary-content">Weight</th>
              <th class="text-primary-content">Instructions/Equipment</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for(i=0; i<cworkout.length; i++) {%>
            <% if(apptPost._id == cworkout[i].appointment){ %>
            <tr>
              <td class="text-primary-content">
                <div><%= cworkout[i].exercise %></div>
              </td>
              <td class="text-primary-content"><%= cworkout[i].repititions %></td>
              <td class="text-primary-content"><%= cworkout[i].sets %></td>
              <td class="text-primary-content">
                <% if(cworkout[i].weight == 'BODYWEIGHT'){ %>
                <%= cworkout[i].weight %>
                <%} else{ %>
                <%= `${cworkout[i].weight} lbs.` %>
                <%}%>
              </td>
              <td class="text-primary-content">
                <% const currentEx = cworkout[i].exercise.toUpperCase() %>
                <% const exercisels = elist; %>
                <% const exerciselsResult = exercisels.find(({title}) => title.toUpperCase() == currentEx) %>
                <%= exerciselsResult.caption.toUpperCase() %>
              </td>
              <th>
                <div>
                  <form action="/clientWorkout/deletePost/<%= cworkout[i]._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-ghost fa fa-trash" type="submit"></button>
                  </form>
                </div>
              </th>
            </tr>
            <%}%>
            <%}%>
          </tbody>
          <tfoot>
            <tr>
              <th class="text-primary-content">Exercise</th>
              <th class="text-primary-content">Reps</th>
              <th class="text-primary-content">Sets</th>
              <th class="text-primary-content">Weight</th>
              <th class="text-primary-content">Instructions/Equipment</th>
              <th></th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <form class="w-full md:w-1/2 mx-4" action="/appointment/notePost/<%= apptPost._id %>?_method=PUT" method="POST">
      <div class="card bg-primary">
        <div class="card-body">
          <div class="break-words text-lg font-medium text-base-content h-28">
            <h3><%= apptPost.note%></h3>
          </div>
          <div class="form-control">
            <label for="note" class="label">
              <span class="label-text">Add Note Below</span>
            </label>
            <textarea class="text-sm input input-bordered h-32 w-full" id="note" name="note"></textarea>
          </div>
          <input type="hidden" id="editClient" name="editClient" value="<%= apptPost.client %>"></input>
          <input type="hidden" id="editDate" name="editDate" value="<%= apptPost.date %>"></input>
          <button type="submit" class="btn w-24 mt-2 place-self-end btn-secondary hover:btn-accent text-primary-content" value="Upload">Save Note</button>
        </div>
      </div>
    </form>
  </div>
  <div class="flex justify-center h-screen">
    <%if(apptPost.user == user.id){ %>
      <form action="/post/deletePost/<%= apptPost._id %>?_method=DELETE" method="POST">
        <button class="btn btn-md btn-primary hover:btn-secondary text-primary-content" type="submit"> Delete Appointment</button>
      </form>
    <%}%>
  </div>
</main>
<%- include('partials/footer') -%>