<%- include('partials/headerWithMenu') -%>
<main>
  <div class="container grid grid-cols-1 grid-rows-2 gap-4 justify-items-center mx-auto sm:grid-cols-1 sm:grid-rows-2 md:grid-cols-3 md:grid-rows-1">
    <div class="card col-span-1 w-80 md:ml-12 md:w-full self-center bg-primary">
      <div class="card-body" >
        <div class="px-1 pt-1">
          <figure>
            <img src="<%= post.image%>" alt="Client Image" class="rounded-md h-64 md:h-96" />
          </figure>
          <div class="card-actions ">
            <button class="btn btn-ghost btn-xs h-auto w-auto opacity-75" onclick="editClientPhotoModal.showModal()">Edit Photo</button>
          </div>
        </div>
        <div class="card-body items-center text-center">
          <h2 class="card-title"><%= post.name %></h2>
          <p><%= post.address %></p>
          <a href="tel:<%= post.phone %>"><%= post.phone %></a>
          <a href="mailto:<%= post.email %>"><%= post.email %></a>
          <div class="flex space-x-4">
            <%if(post.user == user.id){ %>
            <form action="/client/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
              <button class="btn btn-secondary fa fa-trash" type="submit"></button>
            </form>
            <%}%>
            <div>
              <button class="btn btn-secondary" onclick="editClientModal.showModal()">Edit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  

    <div class="col-span-2">
      <div class="card flex-shrink-0 w-fit max-w-auto shadow-2xl bg-secondary">
        <div class="card-body">
          <div class="overflow-x-auto w-full">
            <table class="table w-full">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Delete</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% const clientAppts = [] %>
                <% for(i=0; i<cappt.length; i++) {%>
                  <% clientAppts.push(cappt[i]) %>
                <% } %>
                <% let appointmentsSorted = clientAppts.sort((a,b) => DateTime.fromISO(b.date).toMillis() - DateTime.fromISO(a.date).toMillis()) %>
                <% for(var i=0; i<clientAppts.length; i++) {%>
                  <%if(post.id == clientAppts[i].client){ %>
                  <tr>
                    <td>
                      <div>
                        <div>
                          <% const date = DateTime.fromISO(clientAppts[i].date) %>
                          <h2><%= date.toLocaleString(DateTime.DATETIME_MED) %></h2>
                        </div>
                      </div>
                    </td>
                    <th>
                      <div class="avatar">
                        <form action="/appointment/deletePostFromClient/<%= clientAppts[i]._id %>?_method=DELETE" method="POST">
                          <button class="btn fa fa-trash" type="submit"></button>
                        </form>
                      </div>
                    </th>
                    <th>
                      <button class="btn btn-info">
                        <div><a href="/appointment/<%= clientAppts[i]._id%>" >Workout</a></div>
                      </button>
                    </th>
                  </tr>
                  <%}%>
                <%}%>
              </tbody>
              <tfoot>
                <tr>
                  <th>Date</th>
                  <th>Delete</th>
                  <th></th>
                </tr>
              </tfoot> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <dialog id="editClientModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <form action="/client/editPost/<%= post.id %>?_method=PUT" method="POST">
        <div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Edit Name</span>
            </label>
            <input type="text" value="<%= post.name %>" class="input input-bordered" id="editName" name="editName"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Edit Address</span>
            </label>
            <input type="text" value="<%= post.address %>" class="input input-bordered" id="editAddress" name="editAddress"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Edit Phone Number</span>
            </label>
            <input type="text" value="<%= post.phone %>" class="input input-bordered" id="editPhone" name="editPhone"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Edit Email</span>
            </label>
            <input type="email" value="<%= post.email %>" class="input input-bordered" id="editEmail" name="editEmail"/>
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn" value="Upload">Save</button>
          </div>
        </div>
      </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

  <dialog id="editClientPhotoModal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box flex-auto">
        <form action="/client/editPhoto/<%= post.id %>?_method=PUT" enctype="multipart/form-data" method="POST">          
            <div class="form-control">
              <label for="imgUpload" class="label"> Change Photo</label>
              <input type="file" class="text-sm file:mr-5 file:py-2 file:px-6 file:border-0 file:rounded-lg file:text-sm file:font-medium id="imageUpload" name="file">
            </div>
            <div class="w-full flex justify-end">
              <button type="submit" class="btn" value="Upload">Save</button>
            </div>
        </form>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
</main> 
<%- include('partials/footer') -%>
  
