<%- include('partials/headerWithMenu') -%>
<main class="bg-base-100">
  <div class="container grid grid-cols-1 grid-rows-2 gap-4 justify-items-center mx-auto sm:grid-cols-1 sm:grid-rows-2 lg:grid-cols-3 lg:grid-rows-1">
    <div class="col-span-1 self-center mx-4 sm:mx-4 lg:w-full">
      <form action="/exercise/createPost" enctype="multipart/form-data" method="POST">
        <div class="card w-full bg-secondary">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text text-secondary-content">Add Exercise</span>
              </label>
              <input type="text" placeholder="ex. Pullups" class="input input-bordered" id="title" name="title"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text text-secondary-content">Add Instructions/Equipment Needed</span>
              </label>
              <input type="text" placeholder="ex. Dumbbells" class="input input-bordered" id="caption" name="caption"/>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn" value="Upload">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-span-2">
      <div class="card flex-shrink-0 w-fit max-w-auto bg-secondary mx-4">
        <div class="card-body">
          <div class="overflow-x-auto">
            <table class="table table-xs lg:table-sm">
              <thead>
                <tr>
                  <th class="text-secondary-content">Exercise</th>
                  <th class="text-secondary-content">Instructions/Equipment</th>
                  <th class="text-secondary-content">Edit Instructions/Equipment</th>
                  <th class="text-secondary-content">Delete</th>
                </tr>
              </thead>
              <tbody>
                <% for(i=0; i<posts.length; i++) {%>
                  <tr>
                    <td class="text-secondary-content">
                      <%= posts[i].title.toUpperCase() %>
                    </td>
                    <td class="text-secondary-content">
                      <div> <%= posts[i].caption.toUpperCase() %> </div>
                    </td>
                    <th>
                      <div>
                        <form action="/exercise/editPost/<%= posts[i].id %>?_method=PUT" method="POST">
                          <div class="form-control">
                            <div class="input-group">
                              <input type="text" placeholder="Edit" class="input input-bordered input-xs md:input-sm lg:input-md mb-1" id="edit" name="edit"/>
                              <button type="submit" class="btn btn-xs sm:btn-xs md:btn-sm lg:btn-md" value="Upload">Save</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </th>
                    <th>
                      <div class="avatar">
                        <form class="" action="/exercise/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                          <button class="btn fa fa-trash" type="submit"></button>
                        </form>
                      </div>
                    </th>
                  </tr>
                <%}%>
              </tbody>
                <tfoot>
                  <tr>
                    <th class="text-secondary-content">Exercise</th>
                    <th class="text-secondary-content">Instructions/Equipment</th>
                    <th class="text-secondary-content">Edit Instructions/Equipment</th>
                    <th class="text-secondary-content">Delete</th>
                  </tr>
                </tfoot> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include('partials/footer') -%>