<%- include('partials/header') -%>

<main>
  <% if (locals.messages.errors) { %> 
    <% messages.errors.forEach( el => { %>
      <div class="toast toast-top toast-center">
        <div class="alert alert-warning">
          <div><%= el.msg %></div>
        </div>
      </div>
    <% }) %> 
  <% } %> 
  <% if (locals.messages.info) { %> 
    <% messages.info.forEach( el => { %>
      <div class="toast toast-top toast-center">
        <div class="alert alert-info">
          <div><%= el.msg %></div>
        </div>
      </div>
    <% }) %> 
  <% } %>
  <% if (locals.messages.success) { %> 
    <% messages.success.forEach( el => { %>
      <div class="toast toast-top toast-center">
        <div class="alert alert-success">
          <div><%= el.msg %></div>
        </div>
      </div>
    <% }) %> 
  <% } %>
  <section>
    <form action="/login" method="POST">
       <div class="hero min-h-screen" style="background-image: url(/imgs/gym.png);">
         <div class="hero-content">
           <div class="max-w-md">
             <div class="py-10 flex justify-center"><img src="/imgs/logo.jpg"></div>                    
             <div class="card shadow-2xl bg-primary">
               <div class="card-body">
                 <div class="form-control">
                   <label class="label">
                     <span class="label-text">Email</span>
                   </label>
                   <input type="email" placeholder="you@gmail.com" class="input input-bordered" id="exampleInputEmail1" aria-describedby="email" name="email"/>
                 </div>            
                 <div class="form-control">
                   <label class="label">
                     <span class="label-text">Password</span>
                   </label>
                   <input type="password" placeholder="••••••••" class="input input-bordered" id="exampleInputPassword1" name="password" />
                   <label class="label">
                     <a href="/password-reset" class="label-text-alt link link-hover">Forgot password?</a>
                   </label>
                 </div>
                 <div class="form-control mt-6">
                   <button class="btn btn-info hover:bg-primary">Login</button>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
    </form>
  </section>    
</main>
<%- include('partials/footer') -%>