<%- include('partials/headerLogoOnly') -%>
<main class="flex flex-col w-full border-opacity-50">
  <% if (locals.messages.errors) { %> 
    <% messages.errors.forEach( el => { %>
      <div class="toast toast-top toast-center">
        <div class="alert alert-warning">
          <div><%= el.msg %></div>
        </div>
      </div>
    <% }) %> 
  <% } %> 
  <% if (locals.messages.info) { %> 
    <% messages.info.forEach( el => { %>
      <div class="toast toast-top toast-center">
        <div class="alert alert-info">
          <div><%= el.msg %></div>
        </div>
      </div>
    <% }) %> 
  <% } %>
  <% if (locals.messages.success) { %> 
    <% messages.success.forEach( el => { %>
      <div class="toast toast-top toast-center">
        <div class="alert alert-success">
          <div><%= el.msg %></div>
        </div>
      </div>
    <% }) %> 
  <% } %>
  <div class="grid h-920 place-items-center">
    <section class="col-6 mt-5">
      <form action="/passwordReset/passwordReset/" method="POST">
        <div class="hero min-h-screen">
          <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
              <h1 class="text-5xl font-bold">Change Password</h1>
              <p class="py-6"></p>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-secondary">
              <div class="card-body">
                <div class="form-control">
                  <label class="label">
                    <span class="label-text">New Password</span>
                  </label>
                  <input type="password" name="password" id="password" placeholder="••••••••" class="input input-bordered" required/>
                </div>                 
                <div class="form-control mt-6">
                  <button class="btn btn-info hover:bg-primary">Send</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
</main>
<%- include('partials/footer') -%>